Repository emqx/MQTTX, pull requests merged in 2022-10, with the labels that each got.

#1090 chore(pkg): renamed .prettierrc -> .prettierrc.json
  .prettierrc.json
Labels: Chore

#1091 refactor(connection): clean session -> clean start on mqtt5
  src/lang/common.ts
  src/lang/connections.ts
  src/utils/mqttUtils.ts
  src/views/connections/ConnectionForm.vue
  src/views/connections/ConnectionInfo.vue
Labels: enhancement, Desktop

#1092 refactor(connection): replace radio button to switch button & add cle…
  src/views/connections/ConnectionForm.vue
Labels: enhancement, refactor, Desktop

#1094 refactor(connection): optimize ssl tls connection
  src/lang/connections.ts
  src/utils/getFiles.ts
  src/utils/validFormatJson.ts
  src/views/connections/ConnectionForm.vue
  src/views/connections/ConnectionsDetail.vue
Labels: enhancement, refactor, Desktop

#1095 feat(cli): add publish npm package action
  .github/workflows/build_cli.yaml
Labels: Chore, CLI

#1093 feat(cli): support more MQTT 5.0 properties
  cli/src/index.ts
  cli/src/lib/conn.ts
  cli/src/lib/pub.ts
  cli/src/lib/sub.ts
  cli/src/types/global.d.ts
  cli/src/utils/parse.ts
Labels: enhancement, feature, CLI

#1096 fix(connection): fix console error of timed message
  src/views/connections/ConnectionsDetail.vue
Labels: fix, Desktop

#1097 fix(connection): fix console error of timed message [temp]
  src/views/connections/ConnectionsDetail.vue
Labels: fix, Desktop

#1099 fix(script): disabled delete in use script
  src/lang/script.ts
  src/views/connections/ConnectionsDetail.vue
  src/views/script/index.vue
Labels: enhancement, fix, Desktop

#1109 chore(cli): print error with client id
  cli/src/lib/conn.ts
  cli/src/lib/pub.ts
  cli/src/lib/sub.ts
Labels: enhancement, CLI

#1111 chore(web): remove certificates
  web/src/views/connections/ConnectionForm.vue
Labels: Web

#1113 docs(branch): modify github links
  .github/PULL_REQUEST_TEMPLATE.md
  README-CN.md
  README-JP.md
  README.md
  cli/README-CN.md
  cli/README.md
  docs/manual-cn.md
  docs/manual-jp.md
  docs/manual.md
  web/README-CN.md
  web/README.md
Labels: docs

#1115 fix(connection): remove byte unit
  src/views/connections/ConnectionForm.vue
  web/src/views/connections/ConnectionForm.vue
Labels: fix, Web, Desktop

#1117 improve(leftbar): click outside close popover
  src/components/Leftbar.vue
  web/src/components/Leftbar.vue
Labels: Web, Desktop
