Repository emqx/MQTTX, pull requests merged in 2022-11, with the labels that each got.

#1118 feat(desktop): add message type & index to script
  src/utils/sandbox.ts
  src/views/connections/ConnectionsDetail.vue
  src/views/script/index.vue
Labels: enhancement, Desktop

#1120 chore(cli): print retain flag
  cli/src/lib/sub.ts
Labels: enhancement, CLI

#1121 docs(script): add dynamic switch command to example
  docs/script-example/dynamicSwitch.js
  src/views/script/index.vue
Labels: docs, Desktop

#1122 chore(help): add utm params to links on help page
  src/utils/gaCustomLinks.ts
  src/views/help/index.vue
  web/src/utils/gaCustomLinks.ts
  web/src/views/help/index.vue
Labels: Web, Desktop

#1123 feat(desktop): add menu i18n
  src/background.ts
  src/lang/menu.ts
  src/main/getMenuTemplate.ts
Labels: enhancement, Desktop

#1124 docs(desktop): modify some copywriting
  README-CN.md
  README.md
  docs/manual-cn.md
  docs/manual-jp.md
  docs/manual.md
  src/lang/menu.ts
  src/main/getMenuTemplate.ts
Labels: docs, Desktop

#1125 feat(desktop): add shortcuts to new connections
  src/components/Ipc.vue
  src/lang/menu.ts
  src/main/getMenuTemplate.ts
Labels: enhancement, Desktop

#1126 fix(cli): add polyfills & modify pkg node version
  README-CN.md
  README.md
  cli/README-CN.md
  cli/README.md
  cli/package.json
  cli/src/index.ts
  cli/tsconfig.json
  cli/yarn.lock
Labels: docs, Chore, CLI

#1128 styles(subs): change some sub list styles
  src/components/SubscriptionsList.vue
Labels: UI \ UX, Desktop

#1129 feat(connection): add hightlight for resize line when hover
  src/components/MsgPublish.vue
  src/components/ResizeHeight.vue
  src/views/connections/ConnectionsDetail.vue
Labels: enhancement, UI \ UX, Desktop

#1130 refactor(connection): replace new group icon
  src/assets/font/iconfont.css
  src/assets/font/iconfont.js
  src/assets/font/iconfont.json
  src/assets/font/iconfont.ttf
  src/assets/font/iconfont.woff
  src/assets/font/iconfont.woff2
  src/components/Leftbar.vue
  src/lang/connections.ts
  src/views/connections/ConnectionsList.vue
Labels: refactor, UI \ UX, Desktop

#1134 feat(cli): support auto reconnect
  cli/src/index.ts
  cli/src/lib/conn.ts
  cli/src/lib/pub.ts
  cli/src/lib/sub.ts
  cli/src/types/global.d.ts
  cli/src/utils/parse.ts
Labels: feature, CLI

#1137 improve(cli): improve the output of the bench commands
  cli/src/lib/conn.ts
  cli/src/lib/pub.ts
  cli/src/lib/sub.ts
Labels: CLI

#1138 fix(cli): fix the connection count bug
  cli/src/lib/conn.ts
  cli/src/lib/pub.ts
  cli/src/lib/sub.ts
  cli/src/utils/signale.ts
Labels: fix, CLI

#1144 imporve(cli): optimize the code logic of the console logger
  cli/src/lib/conn.ts
  cli/src/lib/pub.ts
  cli/src/lib/sub.ts
  cli/src/utils/signale.ts
Labels: CLI

#1145 fix(cli): remove default value for option description
  cli/src/index.ts
Labels: fix, CLI

#1147 chore(desktop & web): modify default value of auto scroll interval
  src/database/database.config.ts
  src/database/migration/1668672504891-modifyDefaultValueOfAutoScrollInterval.ts
  src/database/models/SettingEntity.ts
  src/store/modules/app.ts
  src/views/settings/index.vue
  web/src/database/index.ts
  web/src/views/settings/index.vue
Labels: Chore, Web, Desktop

#1148 refactor(help): change help page to everything about MQTT
  src/assets/font/iconfont.css
  src/assets/font/iconfont.js
  src/assets/font/iconfont.json
  src/assets/font/iconfont.ttf
  src/assets/font/iconfont.woff
  src/assets/font/iconfont.woff2
  src/components/Leftbar.vue
  src/lang/help.ts
  src/views/help/index.vue
  web/src/assets/font/iconfont.css
  web/src/assets/font/iconfont.js
  web/src/assets/font/iconfont.json
  web/src/assets/font/iconfont.ttf
  web/src/assets/font/iconfont.woff
  web/src/assets/font/iconfont.woff2
  web/src/components/Leftbar.vue
  web/src/lang/help.ts
  web/src/views/help/index.vue
Labels: refactor, UI \ UX, Web, Desktop

#1152 fix(connection): allow multiple occurrences of the same name in user …
  src/components/KeyValueEditor.vue
  src/types/global.d.ts
Labels: enhancement, fix, Desktop

#1154 feat(cli): improve start log
  cli/src/lib/conn.ts
  cli/src/lib/pub.ts
  cli/src/lib/sub.ts
  cli/src/utils/signale.ts
Labels: UI \ UX, CLI

#1153 fix(web): allow multiple occurrences of the same name in user properties
  web/src/components/KeyValueEditor.vue
  web/src/types/global.d.ts
Labels: fix, Web

#1155 feat(cli): validate config
  cli/src/utils/config.ts
Labels: enhancement, CLI

#1156 docs(cli): modify readme
  cli/README-CN.md
  cli/README.md
Labels: docs, CLI
