Repository emqx/MQTTX, pull requests merged in 2022-09, with the labels that each got.

#1065 docs(readme): update readme
  README-CN.md
  README.md
Labels: fix, docs

#1066 feat(web): support auto resubscribe setting
  web/src/database/index.ts
  web/src/lang/settings.ts
  web/src/store/getter.ts
  web/src/store/modules/app.ts
  web/src/types/global.d.ts
  web/src/utils/mqttUtils.ts
  web/src/views/connections/ConnectionsDetail.vue
  web/src/views/connections/index.vue
  web/src/views/settings/index.vue
Labels: feature, Web

#1067 feat(web): add reconnectPeriod option
  web/src/lang/connections.ts
  web/src/types/global.d.ts
  web/src/utils/mqttUtils.ts
  web/src/views/connections/ConnectionForm.vue
Labels: feature, Web

#1070 fix(cli): fix user properties option of pub command
  cli/src/lib/pub.ts
Labels: fix, CLI

#1071 feat(web): fully synchronized create connection form
  web/src/lang/connections.ts
  web/src/types/global.d.ts
  web/src/utils/mqttUtils.ts
  web/src/views/connections/ConnectionForm.vue
Labels: feature, Web

#1073 fix(cli): remove ws, wss of protocol option
  cli/README-CN.md
  cli/README.md
  cli/src/index.ts
  cli/src/utils/parse.ts
Labels: fix, CLI

#1072 improve(desktop): improve connection model
  src/views/connections/ConnectionForm.vue
Labels: Desktop

#1078 feat(cli): improve logging
  cli/package.json
  cli/src/lib/conn.ts
  cli/src/lib/pub.ts
  cli/src/lib/sub.ts
  cli/src/utils/signale.ts
  cli/tsconfig.json
  cli/yarn.lock
  src/utils/getFiles.ts
  web/src/utils/getFiles.ts
Labels: enhancement, UI \ UX, CLI

#1085 style(spell): fix function spell error
  src/background.ts
  src/database/useConnection.ts
Labels: fix, Desktop
