Repository emqx/MQTTX, pull requests merged in 2022-07, with the labels that each got.

#982 docs(readme): update readme
  README-CN.md
  README.md
  cli/README-CN.md
  cli/README.md
  web/README-CN.md
  web/README.md
Labels: docs

#984 chore(web): modify router mode & public path
  web/src/router/index.ts
  web/vue.config.js
Labels: Web

#985 feat(page): set page title & description
  web/public/index.html
Labels: Web

#988 chore(web): modify utm params & update web readme
  web/README-CN.md
  web/README.md
  web/src/lang/common.ts
  web/src/views/about/index.vue
Labels: Web

#991 feat(web): add google analytics
  web/package.json
  web/src/main.ts
  web/yarn.lock
Labels: Web

#1001 chore(desktop): modify the default mqtt version from 3.1.1 to 5.0
  src/utils/mqttUtils.ts
Labels: Desktop

#1003 chore(web): modify the default mqtt version from 3.1.1 to 5.0
  .gitignore
  web/src/views/connections/ConnectionForm.vue
  web/src/views/connections/index.vue
Labels: Web

#1007 feat(web): add version & releases link
  src/views/about/index.vue
  web/src/components/Leftbar.vue
  web/src/lang/about.ts
  web/src/lang/common.ts
  web/src/views/about/index.vue
  web/src/views/connections/ConnectionForm.vue
  web/vue.config.js
Labels: Web

#1008 feat(desktop): add publish topic validation
  src/lang/connections.ts
  src/views/connections/ConnectionsDetail.vue
Labels: Desktop

#1009 chore(pkg): 1.8.0 -> 1.8.1
  package.json
  src/version.ts
Labels: upgrade, Chore

#1010 fix(background): fix exited unexpectedly on macos
  src/background.ts
Labels: Desktop

#1011 fix(cli): change clean to no-clean option
  cli/README-CN.md
  cli/README.md
  cli/src/index.ts
  cli/src/lib/conn.ts
Labels: CLI

#1012 fix(ci): fix deploy web CI failed issue
  .github/workflows/deploy_web.yaml
  web/src/router/index.ts
Labels: fix, Web

#1014 feat(cli/sub): add mqtt5 sub options
  cli/README-CN.md
  cli/README.md
  cli/src/index.ts
  cli/src/lib/sub.ts
Labels: feature, CLI

#1015 chore(format): add web and cli code format
  cli/.prettierrc
  package.json
Labels: CLI, Web

#1016 fix(ci): add cli build action and modify web action
  .github/workflows/build_cli.yaml
  .github/workflows/build_packages.yaml
  .github/workflows/deploy_web.yaml
  web/src/router/index.ts
Labels: Chore, CLI, Web

#1019 docs(cli): update cli download links
  cli/README-CN.md
  cli/README.md
Labels: CLI
