Repository emqx/MQTTX, pull requests merged in 2023-05, with the labels that each got.

#1278 refactor: fix shields icon name to MQTTX
  README-CN.md
  README-JP.md
  README.md
  cli/README-CN.md
  cli/README.md
  web/README-CN.md
  web/README.md
Labels: docs

#1280 feat(simulate): add simulate to cli
  cli/README-CN.md
  cli/README.md
  cli/package.json
  cli/src/index.ts
  cli/src/lib/pub.ts
  cli/src/scenarios/tesla.ts
  cli/src/types/global.d.ts
  cli/src/utils/config.ts
  cli/src/utils/parse.ts
  cli/src/utils/signale.ts
  cli/src/utils/simulate.ts
  cli/yarn.lock
Labels: feature, CLI

#1284 fix(connections): set auto reconnect to true by default
  src/utils/mqttUtils.ts
  web/src/utils/mqttUtils.ts
Labels: fix, Web, Desktop

#1285 docs(readme): update readme
  assets/mqttx-cli-preview.png
  cli/README.md
  web/README.md
Labels: docs, CLI, Web

#1286 fix(connections): disable edit in connecting status
  src/views/connections/ConnectionsDetail.vue
  web/src/views/connections/ConnectionsDetail.vue
Labels: enhancement, fix, Web, Desktop

#1287 refactor(scrips-example): move the scripts-example to top & add iot data scenarios scripts
  scripts-example/IoT-data-scenarios/tesla.js
  scripts-example/dynamicSwitch.js
  scripts-example/tempAndHum.js
  scripts-example/timestamp.js
Labels: refactor, docs

#1288 fix(cli): add js file validation
  cli/src/utils/parse.ts
  cli/src/utils/simulate.ts
Labels: enhancement, CLI

#1293 chore(pkg): upgrade version 1.9.3
  cli/package.json
  package.json
  src/version.ts
  web/package.json
Labels: upgrade

#1292 feat(cli): add ls command
  cli/package.json
  cli/src/index.ts
  cli/src/lib/ls.ts
  cli/src/types/global.d.ts
  cli/yarn.lock
Labels: feature, CLI

#1294 docs(cli): update ls command
  cli/README-CN.md
  cli/README.md
Labels: docs, CLI

#1296 feat(simulate): add industrial energy monitoring scenario script
  cli/src/lib/pub.ts
  cli/src/scenarios/IEM.ts
  scripts-example/IoT-data-scenarios/IEM.js
  scripts-example/IoT-data-scenarios/tesla.js
Labels: feature, CLI

#1300 feat(cli): add weather scenario
  cli/src/scenarios/IEM.ts
  cli/src/scenarios/smart_home.ts
  cli/src/scenarios/tesla.ts
  cli/src/scenarios/weather.ts
  scripts-example/IoT-data-scenarios/IEM.js
  scripts-example/IoT-data-scenarios/smart_home.js
  scripts-example/IoT-data-scenarios/tesla.js
  scripts-example/IoT-data-scenarios/weather.js
Labels: feature, CLI

#1301 chore(cli): reduce the docker image size
  cli/Dockerfile
Labels: Chore, CLI

#1303 docs(help): modify mqtt page link
  src/utils/gaCustomLinks.ts
  web/src/utils/gaCustomLinks.ts
Labels: Web, Desktop

#1304 docs(logo): update the mqttx logo
  web/src/assets/images/mqttx-dark.png
  web/src/assets/images/mqttx-light.png
Labels: Web

#1307 docs(manual): review and update manual.md with Grammarly
  docs/manual.md
Labels: docs

#1310 feat(cli): supports ws and wss protocols
  cli/src/index.ts
  cli/src/lib/pub.ts
  cli/src/types/global.d.ts
  cli/src/utils/parse.ts
Labels: feature, CLI

#1313 feat(help): add mqtt ebook download link
  src/views/help/index.vue
  web/src/views/help/index.vue
Labels: feature, Web, Desktop
