Repository emqx/MQTTX, pull requests merged in 2023-06, with the labels that each got.

#1314 refactor(updateChecker):optimize automatic updates and add a progress bar
  src/background.ts
  src/lang/index.ts
  src/lang/update.ts
  src/main/getMenuTemplate.ts
  src/main/updateChecker.ts
  src/main/updateDownloader.ts
  src/types/locale.d.ts
  src/utils/element.ts
  src/utils/i18n.ts
  src/views/Home.vue
  src/views/about/index.vue
  src/views/update/index.vue
Labels: enhancement, fix, Desktop

#1325 fix(contextmenu):prevent contextmenu default events
  src/components/SubscriptionsList.vue
  src/views/connections/ConnectionsList.vue
  web/src/App.vue
  web/src/components/SubscriptionsList.vue
Labels: enhancement, fix, Web

#1326 fix(update):modify cli update url
  cli/src/utils/checkUpdate.ts
Labels: enhancement, CLI

#1327 feat(cli):support more format type to publish protobuf
  cli/src/index.ts
  cli/src/lib/pub.ts
  cli/src/types/global.d.ts
  cli/src/utils/convertPayload.ts
  cli/src/utils/parse.ts
  cli/src/utils/protobuf.ts
Labels: feature, CLI

#1336 chore(pkg): upgrade version 1.9.4
  cli/package.json
  package.json
  src/version.ts
  web/package.json
Labels: upgrade
