Repository emqx/MQTTX, pull requests merged in 2024-02, with the labels that each got.

#1578 refactor(copilot): add more category code generators
  src/components/Copilot.vue
  src/components/PresetPromptSelect.vue
  src/lang/common.ts
Labels: enhancement, feature, desktop

#1581 1.9.9
  cli/package.json
  package.json
  src/version.ts
  web/package.json
Labels: upgrade

#1583 docs(readme): update link
  README.md
Labels: docs

#1431 chore(deps): upgrade to faker v8
  cli/README-CN.md
  cli/package.json
  cli/src/scenarios/IEM.ts
  cli/src/scenarios/smart_home.ts
  cli/src/scenarios/tesla.ts
  cli/src/scenarios/weather.ts
  cli/src/types/global.d.ts
  cli/yarn.lock
Labels: dependencies, chore, CLI

#1592 refactor(cli): display from topic & qos in sub
  cli/src/index.ts
  cli/src/lib/sub.ts
Labels: enhancement, refactor, CLI

#1594 fix(Cli): format help info desc
  cli/src/index.ts
Labels: fix, CLI
