Repository emqx/MQTTX, pull requests merged in 2024-04, with the labels that each got.

#1616 feat(desktop): display the reason and code for the disconnection
  cli/src/lib/conn.ts
  cli/src/lib/pub.ts
  cli/src/lib/sub.ts
  cli/src/types/global.d.ts
  cli/src/utils/mqttErrorReason.ts
  cli/src/utils/signale.ts
  src/lang/connections.ts
  src/views/connections/ConnectionsDetail.vue
  web/src/lang/connections.ts
  web/src/views/connections/ConnectionsDetail.vue
Labels: enhancement, feature, CLI, web, desktop

#1585 refactor(script): update the simulate script
  scripts-example/IoT-data-scenarios/IEM.js
  scripts-example/IoT-data-scenarios/smart_home.js
  scripts-example/IoT-data-scenarios/tesla.js
  scripts-example/IoT-data-scenarios/weather.js
Labels: refactor, CLI

#1619 feat(web): add env file to support configuration of BASE_URL
  .github/workflows/deploy_web.yaml
  web/.env
  web/.env.docker
  web/package.json
  web/src/utils/mqttUtils.ts
  web/vue.config.js
Labels: feature, web, CI/CD

#1621 docs(web-readme): add docker local deployment guide
  web/README-CN.md
  web/README.md
Labels: docs, web

#1627 feat(desktop): add database reset page to fix blank screen from corrupted file
  src/background.ts
  src/components/DatabaseError.vue
  src/store/getter.ts
  src/store/modules/app.ts
  src/types/global.d.ts
  src/utils/rebuildDatabase.ts
  src/views/Home.vue
Labels: enhancement, fix, performance, desktop

#1639 fix(cli): fix options handler of file write
  cli/src/index.ts
  cli/src/lib/sub.ts
  cli/src/utils/parse.ts
Labels: fix, CLI

#1638 fix(desktop): fix the bug of topic filtering
  src/database/services/MessageService.ts
Labels: fix, desktop
