Repository emqx/MQTTX, pull requests merged in 2024-09, with the labels that each got.

#1744 refactor(deskop): session expriy default to 7200
  src/views/connections/ConnectionForm.vue
Labels: enhancement, refactor, desktop

#1745 fix(cli): mqtt version 5 -> 5.0
  cli/README-CN.md
  cli/src/index.ts
  cli/src/utils/parse.ts
Labels: enhancement, CLI

#1749 test(desktop): add more utils test cases
  src/utils/mqttErrorReason.ts
  src/utils/mqttUtils.ts
  tests/unit/components/ResizeHeight.spec.ts
  tests/unit/utils/SystemTopicUtils.spec.ts
  tests/unit/utils/convertPayload.spec.ts
  tests/unit/utils/copilot.spec.ts
  tests/unit/utils/delay.spec.ts
  tests/unit/utils/exportData.spec.ts
  tests/unit/utils/gaCustomLinks.spec.ts
  tests/unit/utils/getContextmenuPosition.spec.ts
  tests/unit/utils/getFiles.spec.ts
  tests/unit/utils/handleString.spec.ts
  tests/unit/utils/idGenerator.spec.ts
  tests/unit/utils/jsonUtils.spec.ts
  tests/unit/utils/matchMultipleSearch.spec.ts
  tests/unit/utils/mqttErrorReason.spec.ts
  tests/unit/utils/protobuf.spec.ts
  tests/unit/utils/protobufErrors.spec.ts
  tests/unit/utils/time.spec.ts
Labels: desktop, test

#1751 test(cli): convert paylaod test case support
  cli/src/__tests__/utils/convertPayload.test.ts
Labels: CLI, test

#1753 test(cli): add protobuf test cases
  cli/src/__tests__/utils/avro.test.ts
  cli/src/__tests__/utils/mockData/mockProto.proto
  cli/src/__tests__/utils/protobuf.test.ts
Labels: CLI, test

#1756 fix(cli): remove bench sub topics log
  cli/src/lib/sub.ts
Labels: fix, CLI

#1758 chore(config): add experimental option in tsconfig to fit modern lsp
  tsconfig.json
Labels: chore, desktop

#1759 test(desktop): add avro util test cases
  src/utils/avro.ts
  tests/unit/utils/avro.spec.ts
Labels: desktop, test

#1764 fix(desktop): improve file extension handling in script
  src/views/script/index.vue
Labels: fix, desktop

#1766 feat(client): allow client id empty
  src/utils/mqttUtils.ts
  src/views/connections/ConnectionForm.vue
  src/views/connections/ConnectionInfo.vue
  web/src/views/connections/ConnectionForm.vue
  web/src/views/connections/ConnectionInfo.vue
Labels: enhancement, web, desktop
