Repository emqx/MQTTX, pull requests merged in 2024-05, with the labels that each got.

#1644 fix(cli): fix can not display split default value
  cli/src/index.ts
Labels: fix, CLI

#1648 chore(desktop): replace nlark.com to npmjs.org
  yarn.lock
Labels: fix, dependencies, chore, desktop

#1647 feat(web): support clearing historical data
  web/src/components/ClearUpHistoryData.vue
  web/src/lang/connections.ts
  web/src/lang/settings.ts
  web/src/utils/api/setting.ts
  web/src/views/settings/index.vue
Labels: feature, web

#1649 feat(web): support data export
  web/src/components/ExportData.vue
  web/src/lang/common.ts
  web/src/lang/connections.ts
  web/src/utils/api/setting.ts
  web/src/views/settings/index.vue
Labels: feature, web

#1650 feat(web): support data import
  web/src/components/ImportData.vue
  web/src/lang/common.ts
  web/src/lang/connections.ts
  web/src/utils/api/setting.ts
  web/src/utils/element.ts
  web/src/views/settings/index.vue
Labels: feature, web

#1653 feat(copilot): gpt-4o support
  src/types/global.d.ts
  src/views/settings/index.vue
Labels: feature, desktop

#1652 refactor(cli): improve logging format
  cli/src/utils/signale.ts
Labels: CLI

#1654 chore(ci): modify web deploy
  .github/workflows/deploy_web.yaml
  web/.env
Labels: chore, web

#1655 chore(cli): upgrade the node version to 18
  cli/Dockerfile
  cli/package.json
  cli/yarn.lock
Labels: dependencies, chore, CLI

#1656 feat(cli): support init and load config file
  cli/package.json
  cli/src/configs/common.ts
  cli/src/configs/index.ts
  cli/src/configs/init.ts
  cli/src/configs/load.ts
  cli/src/index.ts
  cli/src/types/global.d.ts
  cli/yarn.lock
Labels: feature, CLI

#1657 feat(cli): support init and load config file
  cli/src/configs/init.ts
  cli/src/index.ts
Labels: enhancement, feature, CLI

#1662 feat(cli): apply the config file
  cli/src/configs/common.ts
  cli/src/index.ts
  cli/src/state/index.ts
  cli/src/types/global.d.ts
  cli/src/utils/fileUtils.ts
  cli/src/utils/signale.ts
Labels: enhancement, feature, CLI

#1665 feat(cli): improve check update with ora
  cli/src/utils/checkUpdate.ts
Labels: enhancement, feature, CLI

#1668 refactor(cli): gray the output meta info
  cli/src/utils/logWrapper.ts
Labels: enhancement, CLI

#1669 fix(cli): fix bench sub duplicate logs
  cli/src/lib/sub.ts
Labels: enhancement, fix, CLI

#1670 fix(cli): update wrong prompt type when error
  cli/src/lib/conn.ts
  cli/src/lib/pub.ts
  cli/src/lib/sub.ts
  cli/src/utils/logWrapper.ts
  src/views/connections/ConnectionsDetail.vue
Labels: enhancement, fix, CLI

#1671 feat(cli): config support max reconnect times
  cli/src/configs/common.ts
  cli/src/configs/load.ts
  cli/src/index.ts
  cli/src/lib/init.ts
  cli/src/types/global.d.ts
Labels: enhancement, feature, CLI

#1672 fix(cli): fix sub error logic with multi topics
  cli/src/lib/pub.ts
  cli/src/lib/sub.ts
  cli/src/utils/logWrapper.ts
Labels: enhancement, fix, CLI

#1673 1.10.0
  cli/package.json
  package.json
  src/version.ts
  web/package.json
Labels: upgrade

#1675 refactor(cli): improve bench sub logs
  cli/src/lib/sub.ts
  cli/src/utils/logWrapper.ts
Labels: enhancement, fix, refactor, CLI

#1676 fix(desktop): version update dialog adapt to dark mode
  src/views/update/index.vue
Labels: enhancement, fix, UI/UX, desktop
