Repository emqx/MQTTX, pull requests merged in 2024-06, with the labels that each got.

#1679 docs(cli): Increase recommended node version to 18.*.* in cli README
  cli/README-CN.md
  cli/README.md
Labels: docs, chore, CLI

#1681 fix(desktop): fix some ts errors
  src/background.ts
Labels: enhancement, fix, desktop

#1683 fix(links): emqx.io -> emqx.com
  web/src/views/about/index.vue
Labels: fix, desktop

#1684 fix(desktop): share one message event
  src/views/connections/ConnectionsDetail.vue
Labels: enhancement, fix, desktop

#1685 feat(desktop): handle the large data on the messages
  src/components/ExportData.vue
  src/components/FullMsgDialog.vue
  src/components/MessageList.vue
  src/components/MsgLeftItem.vue
  src/components/MyDialog.vue
  src/database/services/MessageService.ts
  src/lang/common.ts
  src/lang/connections.ts
  src/utils/data.ts
  src/views/connections/ConnectionsDetail.vue
  tsconfig.json
Labels: enhancement, feature, performance, desktop

#1686 fix(desktop): remove useless i18n
  src/lang/connections.ts
Labels: fix, desktop

#1688 chore(cli_ci): upgrade the node version to 18
  .github/workflows/build_cli.yaml
Labels: fix, CLI, CI/CD

#1695 fix(cli): correct data conversion for publishing messages with format
  cli/src/lib/pub.ts
Labels: enhancement, fix, CLI

#1691 fix(subscription): fix issue with resubscribing
  src/components/SubscriptionsList.vue
  web/src/components/SubscriptionsList.vue
Labels: fix, web, desktop

#1702 feat(web): add data collection policy
  web/package.json
  web/src/assets/doc/policy/data-collection-en.md
  web/src/assets/doc/policy/data-collection-ja.md
  web/src/assets/doc/policy/data-collection-zh.md
  web/src/components/DataCollectionPolicy.vue
  web/src/lang/about.ts
  web/src/types/locale.d.ts
  web/src/views/about/index.vue
  web/vue.config.js
  web/yarn.lock
Labels: feature, web

#1703 docs(web): update migration announcement link
  web/src/views/connections/ConnectionForm.vue
  web/src/views/connections/ConnectionsDetail.vue
Labels: web

#1705 chore(ci): fix web client deploy job
  .github/workflows/deploy_web.yaml
Labels: web, CI/CD

#1660 feat(copilot): support custom copilot api
  src/background.ts
  src/components/Copilot.vue
  src/database/database.config.ts
  src/database/migration/1716044120271-supportOpenAIAPIHost.ts
  src/database/models/SettingEntity.ts
  src/store/getter.ts
  src/store/modules/app.ts
  src/types/global.d.ts
  src/views/settings/index.vue
Labels: feature, desktop

#1707 feat(desktop): moonshot llm api support on copilot
  src/views/settings/index.vue
Labels: enhancement, feature, desktop
