Repository emqx/MQTTX, pull requests merged in 2024-12, with the labels that each got.

#1821 feat(cli): add exit tips for conn
  cli/src/lib/conn.ts
  cli/src/lib/pub.ts
  cli/src/utils/exitInfo.ts
  cli/src/utils/logWrapper.ts
Labels: enhancement, feature, CLI

#1822 feat(cli): line mode option support
  cli/src/index.ts
  cli/src/lib/pub.ts
  cli/src/types/global.d.ts
Labels: enhancement, CLI

#1823 fix(cli): support pub multiple lines on pipeline
  cli/src/lib/pub.ts
Labels: enhancement, fix, CLI

#1827 style(desktop): improve select dropdown item style
  src/assets/scss/element/element-reset.scss
  src/components/ConnectionSelect.vue
  web/src/assets/scss/element/element-reset.scss
Labels: enhancement, UI/UX, web, desktop

#1828 feat(desktop): add connection select when left list hide
  src/views/connections/ConnectionsDetail.vue
Labels: enhancement, feature, desktop

#1831 feat(connections): add throttle to the send message button
  src/views/connections/ConnectionsDetail.vue
Labels: fix, desktop

#1836 1.11.1
  cli/package.json
  package.json
  src/version.ts
  web/package.json
Labels: upgrade

#1840 feat(desktop): add electron-devtools-installer for Vue.js debugging support
  apps/desktop/package.json
  apps/desktop/src/main/index.ts
  pnpm-lock.yaml
Labels: refactor, desktop

#1843 feat(desktop): implement encryption for OpenAI API key
  .github/workflows/build_desktop.yaml
  apps/desktop/package.json
  apps/desktop/src/database/schemas/encryption.ts
  apps/desktop/src/database/schemas/settings.ts
  apps/desktop/src/renderer/src/env.d.ts
  apps/desktop/tsconfig.node.json
  pnpm-lock.yaml
Labels: refactor, desktop

#1850 fix(settings): fix the incorrect use of the settings store
  apps/desktop/src/database/services/SettingsService.ts
  apps/desktop/src/renderer/src/App.vue
  apps/desktop/src/renderer/src/components/update/View.vue
  apps/desktop/src/renderer/src/composables/useLog4.ts
  apps/desktop/src/renderer/src/main.ts
  apps/web/src/composables/useLog4.ts
  apps/web/src/database/services/SettingsService.ts
  apps/web/src/main.ts
Labels: fix, web, desktop
