Repository emqx/MQTTX, pull requests merged in 2025-01, with the labels that each got.

#1853 chore(pkg): update node engine versiont to 16
  package.json
Labels: dependencies, chore, desktop

#1857 fix(env): fix the issue of environment variable failure
  apps/desktop/electron.vite.config.ts
  apps/desktop/src/renderer/src/components/update/NotAvailable.vue
  apps/desktop/src/renderer/src/env.d.ts
  apps/web/env.d.ts
  apps/web/vite.config.ts
  packages/ui/auto-imports.d.ts
  packages/ui/src/components/about/View.vue
  packages/ui/src/composables/__test__/useLinks.test.ts
  packages/ui/src/composables/useLinks.ts
  packages/ui/src/vite-env.d.ts
Labels: fix, web, desktop

#1863 feat(desktop): add electron-debug for improved development experience
  apps/desktop/package.json
  apps/desktop/src/main/index.ts
  pnpm-lock.yaml
Labels: enhancement, refactor, desktop

#1865 feat(editor): add customizable actions to Monaco editor components
  packages/ui/src/components/MonacoEditor.vue
  packages/ui/src/components/script/function/Editor.vue
  packages/ui/src/components/script/schema/Editor.vue
Labels: enhancement, refactor, web, desktop
